:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: rgb(82, 133, 67);
  --select-bg: rgba(255, 255, 255, 0.2);
}
* {
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: linear-gradient(60deg, rgb(112, 159, 221), rgb(209, 86, 209));
  font-family:'Comfortaa';
}

.titulo{
  font-size: 36px;
  padding: 1em 1em 1em 1em;
  text-align: left;
  justify-content: center;
  color: azure;
}

.wrapper {
  display:flex;
  flex-direction: column;
}

.label{
  font-size: 20px;
  padding: 1em 1em 0.5em 1em;
  text-align: left;
  justify-content: center;
  color: azure;
}

.container_escolhas{
  padding: 0.5em 1em 2em 1em;
  text-align: left;
  justify-content: center;
  color: azure;
}

.container_meta{
  padding: 0.5em 1em 2em 1em;
  text-align: left;
  justify-content: center;
  color: azure;
}

.container_comparacao{
  display: flex;
  flex-direction:row;
  align-self: center;
}

.comparacao{
  padding-right:0.5em;
  color: rgb(230, 231, 235);
  font-size: small;
}

/* <select> styles */
select {
  /* Reset */
  padding: 1em 1em 1em 1em;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

select option {
  background-color: rgba(120, 54, 196, 0.271); /* Altere a cor de fundo conforme necessário */
  color: rgba(93, 93, 153, 0.986); /* Altere a cor do texto conforme necessário */
}


.porcao{
  display:flex;
  flex-direction: column;
  padding: 1em 0em 0em 0em;
}

.quantLabel{
  padding-bottom: 0.5em;
}

input{
  padding: 0.5em 0.5em 0.5em 0.5em;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20rem;
  background: linear-gradient(var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.calorias{
  padding-top: 0.5em;
}

.progress-bar {
  background-color: #55398354;
  width: 20rem;
  height: 1.8em;
  margin-top: 10px;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #350caf77;
  width: 0%;
  border-radius: 15px;
}